# Creating a Table in PostgreSQL

**Before creating a table in postgreSQL using python code. You first need to fullfil the following prerequisite are:**
* Install the library called psycopg2 to use its method and functions
* Import the psycopg2

In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 2.5 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Import the Library

In [1]:
import psycopg2

-- Performing all the steps to connect with postgreSQL

# Step 1: Connection & Cursor

***. Use the connect() function of the “psycopg2” module to establish a connection with Postgres:**

In [8]:
try:
    con = psycopg2.connect(
    user="postgres",
    password="Ashok@123",
    host="localhost",
    port= '5433')
    print("Successfully Connected!")
except psycopg2.Error as e:
    print("Error: Could not make a connection to the postgreSQL Database!")
    print(e)

Successfully Connected!

#### After successfull connection of postgres, we need to get the cursor that can be used to execute query, means cursor will help us to make query to the database.

In [14]:
try:
    cur = con.cursor()
except psycopg2.Error as e:
    print("Error: Cloud not get cursor to the Database")
    print(e)

# Step2 : Create a database to do the work in

In [16]:
try:
    cur.execute("CREATE DATABASE myfirstDb")
except psycopg2.Error as e:
    print(e)

## Add the database name in the connect function statement, Let's close our connection to the default database, reconnect to the myfirstDb, and get a  new cursor

In [18]:
# try:
#     con.close()
# except psycopg2.Error as e:
#     print(e)

try:
    conn = psycopg2.connect(dbname="myfirstdb",
                            user="postgres",
                            password="Ashok@123",
                            host="localhost",
                            port= '5433')
    print("Succussfully Connected!")
except psycopg2.Error as e:
    print(f"Error: Could not connect to the database!")
    print(e)
    
    
try:
    n_cur = conn.cursor()
except psycopg2.Error as e:
    print(e)

Succussfully Connected!

# Set automatic commit to be true so that each action is committed without having to call conn.commit() after each command

In [23]:
conn.commit() # this is also used reflect in the database, without this it will never reflect

In [19]:
try:
    sql = ''' CREATE TABLE Student_Details
    (student_id int,
    Student_name Varchar(20),
    Age int, 
    Gender Varchar(10), 
    Subject Varchar(15), 
    Mark int)
    '''
    n_cur.execute(sql)
    print("Table Creted!")
except psycopg2.Error as e:
    print(e)

relation "student_details" already exists

In [21]:
n_cur.execute("rollback")

## Inserting the Data Element inside the Table

In [22]:
try:
    insert_Data = '''INSERT INTO Student_Details
                     VALUES(1,'Paul',  32, 'Male',  'English', 50),
                           (2,'Allen', 25, 'Male',  'English', 90),
                           (3,'Teddy', 26, 'Female','Maths',   80),
                           (4,'Mark',  23, 'Male',  'Physics', 70)'''
    n_cur.execute(insert_Data)
except psycopg2.Error as e:
    print(e)

# To display the executed query and the data

In [44]:
try:
    n_cur.execute("Select * From student_details where student_id % 2 = 0")
except psycopg2.Error as e:
    print(e)

In [45]:
result = n_cur.fetchone();
while result:
    print(result)
    result = n_cur.fetchone()
#Fetching 1st row from the table
# result = cursor.fetchall();
# print(result)

(2, 'Allen', 25, 'Male', 'English', 90)
(4, 'Mark', 23, 'Male', 'Physics', 70)
(2, 'Allen', 25, 'Male', 'English', 90)
(4, 'Mark', 23, 'Male', 'Physics', 70)

In [37]:
results = n_cur.fetchall();
print(results,end="\n")

[(1, 'Paul', 32, 'Male', 'English', 50), (2, 'Allen', 25, 'Male', 'English', 90), (3, 'Teddy', 26, 'Female', 'Maths', 80), (4, 'Mark', 23, 'Male', 'Physics', 70), (1, 'Paul', 32, 'Male', 'English', 50), (2, 'Allen', 25, 'Male', 'English', 90), (3, 'Teddy', 26, 'Female', 'Maths', 80), (4, 'Mark', 23, 'Male', 'Physics', 70)]

# Finally, you have to close the cursor and connections

In [46]:
n_cur.close()
conn.close()